__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea
*.log
*.pdf
*.mkv
*.mp4
*.png
*.wav
*.mp3
*.pth
*.th
*.json

*durip*
*rtx*
*l40*
*a40*

src/audiocraft

!/demo/
!/demo/*
/demo/temp/*.txt
!/demo/temp/84_121550_000074_000000.txt
.cog/tmp/*